@model DepartmentPageViewModel

<div class="grid-container">
    @await Html.PartialAsync("Hierarchy", Model.HierarchyDepartment)
    @*@await Html.PartialAsync("EmployesByDepartament",Model.EmployeesDepartamentId)*@
</div>
