html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

    /* Create the caret/arrow with a unicode, and style it */
.caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
#myUL {
    padding: 10px;
}

#myUL li ul {
    border-left: 1px solid black;
}



.container {
    display: flex;
    
    align-content: center;
    height: 100%;
}


.Hierarchy {
    flex-basis: 30%;
    margin-right: 10px;
    background-color: lightgray;
}


.Hierarchy span a:link, .Hierarchy span a:visited {
        background-color: lightgray;
        color: black;
        text-align: center;
        text-decoration: none;
}

.Hierarchy span a:hover, .Hierarchy span a:active {
        background-color: green;
        color: white;
        text-decoration: none;
}


.ListEmploeeys {
    flex-basis: 70%;
}




.table {
    display: table
}

.tr {
    display: table-row;
   
}

.thead {
    display: table-header-group
}

.tbody {
    display: table-row-group
}

.tfoot {
    display: table-footer-group
}

.col {
    display: table-column
}

.colgroup {
    display: table-column-group
}

.td, .th {
    display: table-cell;
    padding: 5px;
}

.caption {
    display: table-caption
}

td a:link, td a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

td a:hover, td a:active {
    background-color: yellow;
    color: white;
}